#root {

  text-align: center;
}


.page {
  position: absolute;
  top: 0;
  padding: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}