@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #EFEFEF;
    
}

@font-face {
    font-family: 'Nourd';
    src: url('../public/fonts/nourd_heavy.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../public/fonts/Rubik-Regular.ttf');
    font-weight: bold;
    font-style: normal;
}

@layer components {
    .title_principal {
        @apply font-nourd font-bold text-bluesd sm:text-2xl md:text-4xl
    }

    .title_contrast {
        @apply font-nourd font-bold text-yellowsd sm:text-2xl md:text-4xl
    }

    .subtitle {
        @apply font-rubik text-gray-500 text-2xl
    }

    .description {
        @apply font-rubik text-gray-500 text-lg
    }

}